<div class="modal fade" id="acceptModal">
	<div class="modal-dialog" style="width:70%;">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= form_tag(accept_dictamination_people_url, :method => "post", id: "accept-dictamination-form") do %>
			  <% end %>
      </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
