<div class="nested-fields">
  <table width="100%" border="0">
    <tr>
      <td><%= f.input :full_name, :label=>'Name' %></td>
      <td><%= f.input :relation_name, :label=>'Relationship' %></td>
      <td><%= link_to_remove_association "Remove Relationship", f, class: 'btn btn-sm btn-danger', style: 'margin-top:23px;'  %></td>
    </tr>
  </table>
  <br/>
</div>
