<style>
  #full_groups_table, .group_start_year, .group_start_month, #group_preferences{display:none;}
</style>

<%= simple_form_for @group, :url => '/people/create_group', :method=>'post'  do |f| %>
    <div class="form-group">
      <label class="col-md-7 control-label">Study Plan</label>
      <div class="col-md-5"><%= f.association :study_plan, :collection=>@active_study_plans, :label=>false, :include_blank=>'Active Study Plans'%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group">
      <div class="col-md-6"><%= f.input :start_year, as: :select, :label=>'Start Year'%></div>
      <div class="col-md-6"><%= f.input :start_month, as: :select, :label=>'Start Month'%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group" id='group_preferences'>
      <div class="col-md-4">
        <b>Preferences</b><br/>
        <table width="100%"> 
          <thead>
            <tr>
              <th>Frequency</th>
              <th>Week Day</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="col-md-8">
          <br/>
          <br/>
          <br/>
          <button id="show_full_groups">Show Groups For Full Generation</button>
          <br/>
          <br/>
          <button id="show_single_group">Show Single Group</button>
      </div>
    </div>  
    <hr class="hr-normal">
    <div class="form-group" id="full_groups_table">
    </div>
<% end %>
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_period_years_by_study_plan_id(val){
    $.ajax({
      type: 'GET',
      url: '/study_plans/get_period_years_by_study_plan_id?study_plan_id='+val,
      success: function(data){
        if(data){
          var html_element='<option>Select Year</option>';
          $.each(data,function(index,value){
            var year = value.year.split("-")[0];
            var id = value.id;
            html_element+="<option value='"+year+"' id='"+id+"'>"+year+"</option>"
          })
          $("#group_start_year").html(html_element);
          $(".group_start_year").slideDown();
        }
      }
    })
  }

  function get_period_months_by_period_detail_id(val){
    $.ajax({
      type: 'GET',
      url: '/study_plans/get_period_months_by_period_detail_id?period_detail_id='+val,
      success: function(data){
        if(data){
          var html_element='<option>Select Month</option>';
          $.each(data,function(index,value){
            html_element+="<option value='"+value.month+"' id='"+value.id+"'>"+value.month+"</option>"
          })
          $("#group_start_month").html(html_element);
          $(".group_start_month").slideDown();
        }
      }
    })
  }

  function load_preferences(val){
    $.ajax({
      type: 'GET',
      url: '/people/load_group_preferences?study_plan_id='+val,
      success: function(data){
        var html_element;
        var day_options;
        for (i = 1; i <= data; i++) {
          if(i > 7){
            var j = i % 7;
            switch(j) {
                case 1:
                  day_options = '<option value="Monday" selected>Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 2:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday" selected>Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 3:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday" selected>Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 4:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday" selected>Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 5:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday" selected>Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 6:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday" selected>Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 0:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday" selected>Domingo</option>';
                  break;
            } 
          } else {
            switch(i) {
                case 1:
                  day_options = '<option value="Monday" selected>Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 2:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday" selected>Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 3:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday" selected>Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 4:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday" selected>Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 5:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday" selected>Viernes</option><option value="Saturday">Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 6:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday" selected>Sábado</option><option value="Sunday">Domingo</option>';
                  break;
                case 7:
                  day_options = '<option value="Monday">Lunes</option><option value="Tuesday">Martes</option><option value="Wednesday">Miércoles</option><option value="Thursday">Jueves</option><option value="Friday">Viernes</option><option value="Saturday">Sábado</option><option value="Sunday" selected>Domingo</option>';
                  break;
            } 
          }
          html_element += '<tr><td>'+i+'</td><td><select>'+day_options+'</select></td></tr>'
        }
        $('#group_preferences tbody').html(html_element);
        $('#group_preferences').slideDown();
      }
    });
  }

  $(document).ready(function(){
    $("#group_start_year").html('');
    $('#group_study_plan_id').change(function(){
      var val = $(this).val();
      $("#group_start_month").html('');
      get_period_years_by_study_plan_id(val);
    });

    $('#group_start_year').change(function(){
      var val = $(this).find(':selected').attr('id');
      get_period_months_by_period_detail_id(val);
    })

    $('#group_start_month').change(function(){
      var val = $('#group_study_plan_id').val();
      load_preferences(val);
    });

    $('#show_full_groups').click(function(e){
      e.preventDefault();
      var period_detail_id = $('#group_start_month').find(':selected').attr('id');
      $.ajax({
        type: 'GET',
        url: '/people/generate_full_groups?study_plan_id='+$("#group_study_plan_id").val()+'&period_detail_id='+period_detail_id,
        success: function(data){
          $("#full_groups_table div").html('');
          if(data){
            $.each(data,function(index,value){
              var html_element = $("<div class='col-md-12'<h5>"+value.period_name+"</h5><table width='100%'><thead><tr><th>Year</th><th>Months</th><th>Subject</th><th>Teacher</th><th>WeekDay</th><th>Classroom</th><th>Time Slot</th></tr></thead><tbody></tbody></table></div>");
              $.each(value.rows,function(index,val){
                html_element.find('tbody').append("<tr>"+
                              "<td>"+val.year+"</td>"+
                              "<td>"+val.months+"</td>"+
                              "<td>"+val.subject+"</td>"+
                            "</tr>")
              })
              $("#full_groups_table").append(html_element);
            })
            $('#full_groups_table').slideDown();
          }
        }
      }); 
    });
  
  })
</script>
<% end %>
