<% if current_user.active_role.blank? %>
<h3>Welcome, please select the role you want to use</h3>
<%= simple_form_for(current_user, :url =>set_active_role_users_path,:class=>'form',:style=>'margin-bottom:0;' ) do |f| %>
<fieldset>
	<div class="col-sm-7">
		<%= f.input :active_role, collection: current_user.roles.map { |r| [r.name.humanize, r.name] }, prompt: "Select your assigned role(s)", label:'Select Role(s)' %>
		<div class="form-actions">
			<%= button_tag( :class => "btn btn-primary btn-lg") do %>
			<i class="icon-save"></i>Select Role
			<% end %>
		</div>
	</div>
</fieldset>
<% end %>
<% else %>
<h3>You're logged in as <%= current_user.active_role.humanize %></h3>
<% end %>