<fieldset>
  <div class='officers_study_plan_fields nested-fields'>
    <%= f.input :rank, input_html: {readonly: true } %>
    <%= f.association :officer, label_method: :full_name %>
    <%= link_to_remove_association 'x', f, class: 'btn btn-sm btn-danger', style: 'margin-top:23px;'  %>
  </div>
</fieldset>
