<fieldset>
	<legend>Period #<%= @counter %></legend>
	<div class='nested-fields'>
	  <%= f.input :period_name, :label=>'Period Name' %>
	  <%#= f.input :phone_type, :label=>'Tipo' %>
	  <%#= link_to_remove_association "Remove Study Plan Period", f %>
	</div>
</fieldset>