<style>
#active_classroom_wrapper, #active_timeslot_wrapper, #degree_achievements_category_wrapper{display:none}
</style>

<%= simple_form_for @schedule, :url => '/study_plans/create_schedule', :method=>'post'  do |f| %>
    <div class="form-group">
      <label class="col-md-5 control-label">Study Plan</label>
      <div class="col-md-7"><%= f.association :study_plan, :collection=>@active_study_plans, :label=>false%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group">
      <label class="col-md-5 control-label">Campus</label>
      <div class="col-md-7"><%= f.association :campus, :collection=>@campuses, :label=>false%></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group">
      <label class="col-md-12 control-label">Official Required Background Documents:</label>
      <div class="col-md-12"><%= f.association :background_official_docs, collection: @active_docs, as: :check_boxes, label: false %></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group" id="active_classroom_wrapper">
      <label class="col-md-12 control-label"></label>
      <div class="col-md-12"></div>
    </div>
    <hr class="hr-normal">
    <div class="form-group" id="active_timeslot_wrapper">
    </div>
    <hr class="hr-normal">
    <div class="form-group" id="degree_achievements_category_wrapper">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Enable Study Plan</button>
    </div>
<% end %>
<% content_for :specific_js do %>
<script type="text/javascript">
  function get_active_classrooms_by_campus_id(val){
    $("#active_classroom_wrapper").hide();
    $.ajax({
      type: 'GET',
      url: '/study_plans/get_active_classrooms_by_campus_id?campus_id='+val,
      success: function(data){
        if(data){
          var html_element=''
          $.each(data,function(index,value){
            html_element+="<span class='checkbox'><label for='schedule_classroom_ids_"+value.id+"'><input class='check_boxes optional' id='schedule_classroom_ids_"+value.id+"' name='schedule[classroom_ids][]' type='checkbox' value='"+value.id+"'>"+value.name+"</label></span>"
          })
          html_element+='<input name="schedule[classroom_ids][]" type="hidden" value=""/>'
          $("#active_classroom_wrapper").find('label').text($('#schedule_campus_id option:selected').text()+" Active Classrooms")
          $("#active_classroom_wrapper").find('div').html(html_element)
          $("#active_classroom_wrapper").slideDown();
        }
      }
    })
  }

  $(document).ready(function(){
    $('#schedule_campus_id').change(function(){
      var val = $(this).val();
      get_active_classrooms_by_campus_id(val);
    });
  
  })
</script>
<% end %>
